{% extends 'home/base.html'  %}
<!-- Profile of user -->
{% load crispy_forms_tags %}
{% block title %} DELETE ACCOUNT {% endblock %}
{% block content %}
<div class="content-selection">
	<form method="POST">
		{% csrf_token %}
		<div class="form-group">
			You cannot login or register with same email. Are you sure?
			<button class="btn btn-outline-info" type="submit" name="delete_user">DELETE ACCOUNT</button>
		</div>
	</form>
	<div class="border-top pt-3">
		<p><b>&#187;</b></p>
		<small class="text-muted">
			<a class="ml" href="{% url 'first_name_change' %}">Change Name</a>
		</small>
	</div>
	<div class="border-top pt-3">
		<p><b>&#187;</b></p>
		<small class="text-muted">
			<a class="ml" href="{% url 'email_change' %}">Change Email</a>
		</small>
	</div>
	<div class="border-top pt-3">
		<p><b>&#187;</b></p>
		<small class="text-muted">
			<a class="ml" href="{% url 'password_change' %}">Change Password</a>
		</small>
	</div>
</div>
{% endblock %}