{% extends 'home/base.html'  %}
<!-- Register Page -->
{% load crispy_forms_tags %}
{% block title %} Register User {% endblock %}
{% block content %}
<div class="content-selection">
	<form method="POST">
		{% csrf_token %}
		<fieldset class="form-group">
			<legend class="border-bottom-mb-4">Register User</legend>
			{{form|crispy}}
			<script src='https://www.google.com/recaptcha/api.js'></script>
    		<div class="g-recaptcha" data-sitekey="GOOGLE_RECAPTCHA_SITE_KEY"></div>
		</fieldset>
		<div class="form-group">
			<button class="btn btn-outline-info" type="submit" name="register">Register</button>
		</div>
	</form>
	<div class="border-top pt-3">
		<small class="text-muted">
			Have an account? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
		</small>
	</div>
</div>
{% endblock %}